<%= provide(:title, 'NFC Security Proposal')%>

<h1>Privacy Issues within NFC</h1>

Zachary Walters, Nicholas Land</br>
Oakland University, Department of Computer Science and Engineering</br>
<a href="mailto:zswalter@oakland.edu">zswalter@oakland.edu</a>,
<a href="mailto:ndland@oakland.edu">ndland@oakland.edu</a>

<h2>Background and Motivation</h2>
<p id="">

</p>

<h2>Proposed Methodology</h2>
<p id="id">
</p>

<h2>Expected Contributions</h2>
<p id="">
</p>

<h2>Target Conference/Journal</h2>
<p id="">
</p>

<h2>Organization of the project and Project Managment</h2>
<p id="">
</p>

<h4>Research Team</h4>
<p id="">
</p>

<h4>Research Plan</h4>
<p id="">
</p>

<h4>Project Management</h4>
<p id="">
</p>

<h2>References</h2>
<p id="">
</p>
