<%= provide(:title, 'NFC Security Proposal')%>

<div id="topic">
  <h1>Potential Security flaws with NFC</h1>

  Zachary Walters, Nicholas Land</br>
  Oakland University, Department of Computer Science and Engineering</br>

  <a href="mailto:zswalter@oakland.edu">zswalter@oakland.edu</a>,
  <a href="mailto:ndland@oakland.edu">ndland@oakland.edu</a>
</div>

<h2 id="heading">Background and Motivation</h2>
<div id="container">
  <p id="para">
    The goal of this research project is to investigate the security vulnerabilities and privacy issues dealing with NFC technologies. </br>
    </br>
    NFC (Near Field Communications) is a growing technology for mobile devices. One thing NFC is used for is credit card transactions at a cash register. Another use for NFC is to share photos between devices. With such personal data being transmitted by NFC devices there is a concern of one’s security and privacy.
  </p>
</div>

<h2 id="heading">Proposed Methodology</h2>
<div id="container">
  <p id="para">
    There will be an overview of the current NFC technologies and their current security and privacy implementations. This will be tested by simulating NFC transactions between devices and observing the security flaws. If there seems to be any kind of security flaw then it will be investigated.
  </p>
</div>

<h2 id="heading">Expected Contributions</h2>
<div id="container">
  <p id="para">
    The expected outcome of this research is to assure there is little to no privacy or security vulnerabilities while using NFC devices. If there is a security flaw found, either try to find a reasonable fix for it or be able to educate about this issue to be further investigated.
  </p>
</div>

<h2 id="heading">Target Conference/Journal</h2>
<div id="container">
  <p id="para">
	<a href="http://www.nfc-forum.org/home/">NFC Forum</a></br>
	<a href="http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=6176027">IEEE NFC Standards</a>
  </p>
</div>

<h2 id="heading">Organization of the project and Project Management</h2>

<h4 id="heading">Research Team</h4>
<div id="container">
  <p id="para">
    Zachary Walters- Junior at Oakland University and major in Computer Science. Strengths include: Java, C, Python, HTML, and CSS. Weaknesses: procrastination and busy work schedule.</br></br>
    Nicholas Land- Computer Science major at Oakland University. Strengths include: Software Development, Ruby on Rails, Java, Ruby, and Javascript. Weaknesses: Lack of professional experience,
    and not enough time to practice my craft.</br></br>
    Both Zach and Nick have worked on several projects together, including work and school related, without failing to meet a deadline.
  </p>
</div>

<h4 id="heading">Research Plan</h4>
<div id="container">
  <p id="para">
    We will spend the majority of the Fall 2013 semester researching any possible NFC security flaws. We will spend time experimenting with NFC to see if we are able to duplicate any found security flaws.
  </p>
</div>

<h4 id="heading">Project Management</h4>
<div id="container">
  <p id="para">
    The project will be equally split amongst both members of the group. We should see no complications for the duration of the project as the students both have the same classes, and both work at the same place.
    The students will be meeting nearly everyday to discuss the project.
  </p>
</div>

<h2 id="heading">References</h2>
<div id="container">
  <p id="para">
    <a href="http://ece.wpi.edu/~dchasaki/papers/Security%20in%20NFC.pdf">Security in Near Field Communication (NFC)</a> Ernst Haselsteiner and Klemens Breitfuß</br>
    <a href="http://www.makeuseof.com/tag/using-nfc-3-security-risks-to-be-aware-of/">Using NFC? 3 Security Risks To Be Aware Of</a> Makeuseof </br>
    <a href="http://www.brighthand.com/default.asp?newsID=17577&p=3">Is NFC Secure Enough?</a> Brighthand </br>
	<a href="http://www.smart-university.eu/program-nfc-security-and-capabilities.htm">Is Near Field Communication (NFC) really secure and ready for real-world application?</a> Smart University </br>
    <a href="http://www.nearfieldcommunication.org/nfc-security.html">Security Concerns with NFC Technology</a> nearfieldcommunication.org
  </div>
</p>
