/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body{
 	background-color: #cccccc;
 }
 #background_bar{
 	background: url(../samsung-galaxy-S4.png);
 	width: 260px;
 	height: 447px;
 	position: fixed; 	
 }
 .links{
 	text-decoration: none;
 	color: white;
 }
 ul#menu {
	text-decoration: none;
	margin-left: 25px;
	margin-top: 100px;
	position: absolute;
	list-style-type: none;
	color: white;
}
ul#menu li{
	padding: 7px;
	border: solid white 2px;
	margin-bottom: 20px;project
	background-color: black;
}